[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
epic-rv-client = {git = "https://github.com/twenty20solutions/epic-rv-client-python.git"}

[dev-packages]
requests = ">=2.32.3"
pyotp = ">=2.9.0"
pytest = "*"
python-dotenv = "*"

[requires]
python_version = "3.11"
