[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
requests = ">=2.32.3"
pyotp = ">=2.9.0"
pytest = "*"
python-dotenv = "*"

[requires]
python_version = "3.11"
